* {
    margin: 0;
    box-sizing: border-box;
}

body
{
    margin: 0;
    background-image: url("../imagenes/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

h2
{
    font-family: 'Fredoka One', cursive;
}

.header
{
    width: 100%;
    background-image: url("../imagenes/estrellas.png");
    background-repeat: repeat;
}

.logo
{
    margin: 0;
    margin-right: 1.2%;
    height: 100%;
}

/* .logo img
{
    height: 0.1%;
} */

.hero
{
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    background-color: transparent;
    border-bottom: 2px solid white;
}

.hero h1
{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    margin: 0;
    text-align: center;
    font-weight: 200;
}

.video-hero
{
    border-radius: 20px;
    border: 2px solid white;
}

.menu
{
    height: inherit;
}

.header ol
{
    height: inherit;
    margin: 0 10px;
    display: flex;
    padding: 0;
}

.header ol li
{
    display: inherit;
}

.link
{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    align-items: center;
    color: white;
    height: 100px;
    display: flex;
    margin: 0 30px;
    text-decoration: none;
}

.info-artists
{
    padding: 10px;
    font-family: 'Pompiere', cursive;
    margin: 20px 0;
}

.info-bunny, .info-balvin
{
    width: 90%;
    height: 100%;
    border-radius: 50px;
    padding: 10px;
    background-image: url("../imagenes/wallpaper1.jpg");
    background: -webkit-linear-gradient(#03071e, #370617, #6a040f) ;
    background-size: 100%;
    background-attachment: fixed;
}

.info-badBunny, .info-JBalvin
{

    height: 100%;
    height: 100%;
    display: flex;
    font-family: 'Pompiere', cursive;
    color: white;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.info-name
{
    font-size: 40px;
    margin: 5px 0 30px;
    text-align: center;
    border-bottom: 2px solid white;
}

.info-place,.info-date
{
    font-size: 25px;
    padding: 0;
    margin: 0;
    text-align: center;
}


.info-details
{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.social
{
    display: flex;
    justify-content: center;
}

.social-link
{
    margin: 0 40px;
    display: inline-block;
    height: 75px;
    width: 75px;
    background-size: 75px 75px;
}

.social-link.Spotify
{
    background-image: url("../imagenes/spotify.png");
}

.social-link.YouTube
{
    background-image: url("../imagenes/Youtube.png");
}

.social-link.Instagram
{
    background-image: url("../imagenes/Instagram.png");
}

.info-image
{
    border-radius: 70px;
    border-style: outset;
}


#BadBunny, #JBalvin
{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    width: 100%;
}


.videos
{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 1em;
    width: 100%;
    height: 30em;
    position: relative;
}

.video-details
{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    width: 90%;
    height: 86px;
    border-bottom: 2px solid black;
    border-radius: 50px;
}

.video-bunny-balvin
{
    border: .5px solid black;
    padding-top: 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 2px grey;
    height: 27.5em;
    width: 33em;
    margin-right: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-image: url("../imagenes/white-background.jpg");
    background-attachment: fixed;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.video-bunny-balvin:hover ~ .video-bunny-balvin
{
    transform: translate3d(6em, 0, 0);
    transition-delay: 430ms;
}

.videos:hover .video-bunny-balvin
{
    opacity: 0.3;
    transition-delay: 430ms;
}

.videos:hover .video-bunny-balvin:hover
{
    transform: scale(1.2);
    opacity: 1;
}

::-webkit-scrollbar-corner
{
    background-color: transparent;
}

::-webkit-scrollbar-thumb
{
    background: white;
    border-radius: 4px;
}

::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, .4);
    border-radius: 4px;
}

::-webkit-scrollbar:hover
{
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar:hover:active
{
    background: #999;
}

.video
{
    border-radius: 20px;
    margin: 0 10px;
}

.oasis
{
    color: #ffffff;
    box-shadow: 3px 3px 40px 2px grey;
    border: 2px solid white;
    margin: 30px 0 10px;
    height: 100%;
    width: 90%;
    text-align: center;
    justify-content: center;
    background-image: url("../imagenes/background3.png");
    background-size: 100%;
    background-attachment: fixed;
    padding: 40px;
    padding-top: 20px;
    border-radius: 50px;
}

.oasis h2
{
    font-size: 80px;
    margin: 20px;
    margin-left: 130px;
    margin-bottom: 40px;
    border-radius: 50px;
    border-bottom: 1px solid white;
    width: 400px;
    height: 100px;
}

.oasis-name-links
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hearoasis
{
    display: flex;
    justify-content: center;
    margin: 20px 40px;
    margin-bottom: 0;
}

.hearoasis-links
{
    display: inline-block;
    border: .5px solid transparent;
    box-shadow: 3px 3px 20px 2px grey;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 0 20px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.hearoasis-links.spotify
{
    background-image: url("../imagenes/spotify.png");
}

.hearoasis-links.deezer
{
    background-image: url("../imagenes/deezer.png");
}

.hearoasis-links.applemusic
{
    background-image: url("../imagenes/apple_music.png");
    background-size: 138px 138px;
    background-position: center;
}


.oasis-details
{
    font-family: 'Pompiere', cursive;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oasis-details p
{
    width: 100%;
    margin: 0;
    display: inline;
    text-align: center;
    font-weight: 700;
}

.oasis-details figure img
{
    border-radius: 50px;
}

.footer
{
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.footer h2
{
    font-family: 'Kaushan Script', cursive;
}

.footer p
{
    font-size: 30px;
}

.logo-footer
{
    border: 1px solid transparent;
    box-shadow: 3px 3px 20px 2px grey;
    border-radius: 60px;
    width: 120px;
    height: 120px;
    background-image: url("../imagenes/logo-badbunny.png");
    background-position: center;
    background-size: 117%;
}


.contacto
{
    display: flex;
    justify-content: center;
}

.contacto-link
{
    width: 80px;
    height: 80px;
    margin: 0 30px;
    background-size: 80px 80px;
}

.contacto-link.Whatsapp
{
    background-image: url("../imagenes/whatsapp-logo].png");
}

.contacto-link.Github
{
    background-image: url("../imagenes/github.svg");
}

.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container-hero
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid;
    background: -webkit-linear-gradient(black, rgba(255,255,255,.4), black);
}

.container-videos
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 30px auto;
    margin-top: 0;
    width: 100%;
    white-space: nowrap;
    overflow: scroll;
}

.BADBUNNY, .JBALVIN
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-top: 10px;
    margin: 30px  0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background: -webkit-linear-gradient(black, rgba(255,255,255,.4), black);
}

.super-contenedor
{
    width: 100%;
    max-width: 100%;
}

@media screen and (max-width: 800px)
{
    .hero
    {
        display: block;
    }
    .video-hero
    {
        margin: 30px
    }
    .info-imageContainer
    {
        display: flex;
        justify-content: center;
    }
    .info-badBunny, .info-balvin
    {
        display: block;
        flex-wrap: nowrap;
    }
    .oasis-details, .oasis-name-links
    {
        display: inline-block;
    }
    .oasis-name-links h2 
    {
        margin: 0 auto;
    }
}