body
{
    margin: 0;
    background-image: url("../imagenes/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

h2
{
    font-family: 'Fredoka One', cursive;
}

.header
{
    height: 100px;
    background-image: url("../imagenes/estrellas.png");
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-repeat: repeat;
}

.logo
{
    margin: 0;
    margin-right: 120px;
}

.hero
{
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    margin: 0 0 30px;/* 
    background-image: url("../imagenes/background.jpg");
    background-size: 100%;
    background-attachment: fixed; */
    background-color: transparent;
    border-bottom: 2px solid white;
    border-radius: 50px;
}

.hero h1
{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    margin: 0;
    text-align: center;
    font-weight: 200;
}

.video-hero
{
    border-radius: 20px;
    border: 2px solid white;
}

.menu
{
    height: inherit;
}

.header ol
{
    height: inherit;
    margin: 0 10px;
    display: flex;
    padding: 0;
}

.header ol li
{
    display: inherit;
}

.link
{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
    align-items: center;
    color: white;
    height: 100px;
    display: flex;
    margin: 0 30px;
    text-decoration: none;
}

.info-artists
{
    padding: 10px;
    font-family: 'Pompiere', cursive;
    margin: 20px 0;
}

.info-bunny
{
    border-radius: 50px;
    padding: 40px;
    /* background-color: #e67300; */
    background-image: url("../imagenes/wallpaper1.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.info-badBunny
{
    height: 550px;
    display: flex;
    font-family: 'Pompiere', cursive;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.info-name
{
    font-size: 40px;
    margin: 5px 0 30px;
    text-align: center;
    border-bottom: 2px solid white;
}

.info-place,.info-date
{
    font-size: 25px;
    padding: 0;
    margin: 0;
    text-align: center;
}


.info-details
{
    font-size: 30px;
    text-align: center;
}

.social
{
    display: flex;
    justify-content: center;
}

.social-link
{
    margin: 0 40px;
    display: inline-block;
    height: 75px;
    width: 75px;
    background-size: 75px 75px;
}

.social-link.Spotify
{
    background-image: url("../imagenes/spotify.png");
}

.social-link.YouTube
{
    background-image: url("../imagenes/Youtube.png");
}

.social-link.Instagram
{
    background-image: url("../imagenes/Instagram.png");
}

.info-image
{
    border-radius: 70px;
    border-style: outset;
}

.info-balvin
{
    border-radius: 50px;
    padding: 40px;
    /* background-color: #e67300; */
    background-image: url("../imagenes/wallpaper1.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.info-JBalvin
{
    height: 550px;
    display: flex;
    font-family: 'Pompiere', cursive;
    color: white;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#BadBunny
{
    margin: 30px 0;
}

#JBalvin
{
    margin: 30px 0;
}

.videos
{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.video-details
{
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    width: 500px;
    height: 130px;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 50px;
}

.video1-bunny-balvin, .video2-bunny-balvin
{
    border: .5px solid black;
    border-radius: 30px;
    box-shadow: 3px 3px 3px 2px grey;
    height: 450px;
    width: 550px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../imagenes/white-background.jpg");
    background-attachment: fixed;
}

.video-container
{
    margin: 0;
}

.video
{
    border-radius: 20px;
    margin: 0 10px;
}

.oasis
{
    color: #ffffff;
    border: 2px solid white;
    margin: 30px 0 10px;
    height: 750px;
    text-align: center;
    justify-content: center;
    background-image: url("../imagenes/background3.png");
    background-size: 100%;
    background-attachment: fixed;
    padding: 40px;
    padding-top: 20px;
    border-radius: 50px;
}

.oasis h2
{
    font-size: 80px;
    margin: 20px;
    margin-left: 130px;
    margin-bottom: 40px;
    border-radius: 50px;
    border-bottom: 1px solid white;
    width: 400px;
    height: 100px;
}

.oasis-name-links
{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hearoasis
{
    display: flex;
    justify-content: center;
    margin: 20px 40px;
    margin-bottom: 0;
}

.hearoasis-links
{
    display: inline-block;
    border: .5px solid transparent;
    box-shadow: 3px 3px 20px 2px grey;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    margin: 0 20px;
    background-size: 100px 100px;
    background-repeat: no-repeat;
}

.hearoasis-links.spotify
{
    background-image: url("../imagenes/spotify.png");
}

.hearoasis-links.deezer
{
    background-image: url("../imagenes/deezer.png");
}

.hearoasis-links.applemusic
{
    background-image: url("../imagenes/apple_music.png");
    background-size: 138px 138px;
    background-position: center;
}


.oasis-details
{
    font-family: 'Pompiere', cursive;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.oasis-details p
{
    width: inherit;
    margin: 0;
    display: inline;
    text-align: center;
    font-weight: 700;
}

.oasis-details figure img
{
    border-radius: 50px;
}

.footer
{
    color: white;
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: transparent;
}

.footer h2
{
    font-family: 'Kaushan Script', cursive;
}

.footer p
{
    font-size: 30px;
}

.logo-footer
{
    border: 1px solid transparent;
    box-shadow: 3px 3px 20px 2px grey;
    border-radius: 60px;
    width: 120px;
    height: 120px;
    background-image: url("../imagenes/logo-badbunny.png");
    background-position: center;
    background-size: 117%;
}


.contacto
{
    display: flex;
    justify-content: center;
}

.contacto-link
{
    width: 80px;
    height: 80px;
    margin: 0 30px;
    background-size: 80px 80px;
}

.contacto-link.Whatsapp
{
    background-image: url("../imagenes/whatsapp-logo].png");
}

.contacto-link.Github
{
    background-image: url("../imagenes/github.svg");
}

.container
{
    color: white;
    width: 1250px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
}

.container-hero
{
    width: 1350px;
    margin: 0 auto;
}

.container-videos
{
    width: 1150px;
    height: 470px;
    margin: 30px auto;
}

.BADBUNNY 
{
    margin: 30px 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 40px;
}

.JBALVIN
{
    padding-top: 30px;
    margin: 30px 0;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 40px;
}